/dotNetRetailSystem/obj
/dotNetRetailSystem/RS.CommonLibrary/bin
/dotNetRetailSystem/RS.CommonLibrary/obj
/dotNetRetailSystem/RS.ShopService/bin
/dotNetRetailSystem/RS.ShopService/obj
/dotNetRetailSystem/RS.YarpApiGateway/bin
/dotNetRetailSystem/RS.YarpApiGateway/obj
/dotNetRetailSystem/.vs
/dotNetRetailSystem/bin
/dotNetRetailSystem/RS.UserService/bin
/dotNetRetailSystem/RS.UserService/obj
/dotNetRetailSystem/RS.ProductService/bin
/dotNetRetailSystem/RS.ProductService/obj
/dotNetRetailSystem/RS.OrderService/bin
/dotNetRetailSystem/RS.OrderService/obj
/ReactNativeRetailApp/node_modules
/ReactNativeRetailApp/package-lock.json
